body {
  background: linear-gradient(268deg, #0052d4, #4364f7, #6fb1fc);
  background-size: 600% 600%;
  animation: gradient 25s ease infinite;
  height: 100%;
}

.heading {
  padding: 20%;
  margin: auto;

}

.centered {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob-1,
.blob-2 {
  width: 20px;
  height: 20px;
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob-1 {
  left: 20%;
  animation: osc-l 2.5s ease infinite;
}
.blob-2 {
  left: 80%;
  animation: osc-r 2.5s ease infinite;
  background: whitesmoke;
}
@keyframes osc-l {
  0% {
    left: 10%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 10%;
  }
}
@keyframes osc-r {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
