body {
  background: linear-gradient(268deg, #12c2e9, #c471ed, #f64f59);
  background-size: 600% 600%;
  animation: gradient 25s ease infinite;
  height: 100%;
}

.heading {
  padding: 20%;
  margin: auto;
  text-align: center;
  color: whitesmoke;
  font-weight: 900px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-stretch: ultra-expanded;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
